@font-face {
  src: url('fonts/RoslindaleVariable-VF-Testing.woff2') format("woff2"),
       url('fonts/RoslindaleVariable-VF-Testing.woff') format("woff");
  font-family: 'Roslindale Variable';
  font-style: normal;
  font-weight: bold;
}

@font-face {
  src: url('fonts/RoslindaleVariable-VF[Display]-Testing.woff2') format("woff2"),
       url('fonts/RoslindaleVariable-VF[Display]-Testing.woff') format("woff");
  font-family: 'Roslindale Variable';
  font-style: normal;
  font-weight: bold;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedExtraLight-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedExtraLight-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 200;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedExtraLightItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedExtraLightItalic-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: italic;
  font-weight: 200;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedLight-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedLight-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 300;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedLightItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedLightItalic-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: italic;
  font-weight: 300;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedRegular-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedRegular-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedItalic-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: italic;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedMedium-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedMedium-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedMediumItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedMediumItalic-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: italic;
  font-weight: 500;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedSemiBold-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedSemiBold-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedSemiBoldItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedSemiBoldItalic-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: italic;
  font-weight: 600;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedBold-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedBold-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedBoldItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedBoldItalic-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: italic;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedBlack-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedBlack-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 800;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedUltra-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedUltra-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DisplayNarrowExtraLight-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayNarrowExtraLight-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 200;
}

@font-face {
  src: url('fonts/Roslindale-DisplayNarrowLight-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayNarrowLight-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 300;
}

@font-face {
  src: url('fonts/Roslindale-DisplayNarrowRegular-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayNarrowRegular-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DisplayNarrowMedium-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayNarrowMedium-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url('fonts/Roslindale-DisplayNarrowSemiBold-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayNarrowSemiBold-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url('fonts/Roslindale-DisplayNarrowBold-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayNarrowBold-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DisplayNarrowBlack-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayNarrowBlack-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 800;
}

@font-face {
  src: url('fonts/Roslindale-DisplayNarrowUltra-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayNarrowUltra-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DisplayExtraLight-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayExtraLight-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 200;
}

@font-face {
  src: url('fonts/Roslindale-DisplayLight-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayLight-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 300;
}

@font-face {
  src: url('fonts/Roslindale-DisplayRegular-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayRegular-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DisplayMedium-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayMedium-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url('fonts/Roslindale-DisplaySemiBold-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplaySemiBold-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url('fonts/Roslindale-DisplayBold-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayBold-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DisplayBlack-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayBlack-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 800;
}

@font-face {
  src: url('fonts/Roslindale-DisplayUltra-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayUltra-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 900;
}

@font-face {
  src: url('fonts/Roslindale-DeckNarrowRegular-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DeckNarrowRegular-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DeckNarrowItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DeckNarrowItalic-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: italic;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DeckNarrowMedium-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DeckNarrowMedium-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url('fonts/Roslindale-DeckNarrowMediumItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DeckNarrowMediumItalic-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: italic;
  font-weight: 500;
}

@font-face {
  src: url('fonts/Roslindale-DeckNarrowSemiBold-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DeckNarrowSemiBold-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url('fonts/Roslindale-DeckNarrowSemiBoldItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DeckNarrowSemiBoldItalic-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: italic;
  font-weight: 600;
}

@font-face {
  src: url('fonts/Roslindale-DeckNarrowBold-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DeckNarrowBold-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DeckNarrowBoldItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DeckNarrowBoldItalic-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: italic;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-TextRegular-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-TextRegular-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-TextItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-TextItalic-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: italic;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-TextMedium-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-TextMedium-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url('fonts/Roslindale-TextMediumItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-TextMediumItalic-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: italic;
  font-weight: 500;
}

@font-face {
  src: url('fonts/Roslindale-TextSemiBold-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-TextSemiBold-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url('fonts/Roslindale-TextSemiBoldItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-TextSemiBoldItalic-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: italic;
  font-weight: 600;
}

@font-face {
  src: url('fonts/Roslindale-TextBold-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-TextBold-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-TextBoldItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-TextBoldItalic-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: 'Apercu Pro';
  src: url('font/ApercuPro-Medium.eot');
  src: local('font/Apercu Pro Medium'), local('ApercuPro-Medium'),
      url('font/ApercuPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('font/ApercuPro-Medium.woff2') format('woff2'),
      url('font/ApercuPro-Medium.woff') format('woff'),
      url('font/ApercuPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('fonts/ApercuPro-MediumItalic.eot');
  src: local('fonts/Apercu Pro Medium Italic'), local('ApercuPro-MediumItalic'),
      url('fonts/ApercuPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/ApercuPro-MediumItalic.woff2') format('woff2'),
      url('fonts/ApercuPro-MediumItalic.woff') format('woff'),
      url('fonts/ApercuPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('font/ApercuPro-ExtraLight.eot');
  src: local('font/Apercu Pro ExtraLight'), local('ApercuPro-ExtraLight'),
      url('font/ApercuPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('font/ApercuPro-ExtraLight.woff2') format('woff2'),
      url('font/ApercuPro-ExtraLight.woff') format('woff'),
      url('font/ApercuPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('font/ApercuPro-Black.eot');
  src: local('font/Apercu Pro Black'), local('ApercuPro-Black'),
      url('font/ApercuPro-Black.eot?#iefix') format('embedded-opentype'),
      url('font/ApercuPro-Black.woff2') format('woff2'),
      url('font/ApercuPro-Black.woff') format('woff'),
      url('font/ApercuPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('font/ApercuPro-Bold.eot');
  src: local('font/Apercu Pro Bold'), local('ApercuPro-Bold'),
      url('font/ApercuPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('font/ApercuPro-Bold.woff2') format('woff2'),
      url('font/ApercuPro-Bold.woff') format('woff'),
      url('font/ApercuPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('font/ApercuPro-BoldItalic.eot');
  src: local('font/Apercu Pro Bold Italic'), local('ApercuPro-BoldItalic'),
      url('font/ApercuPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('font/ApercuPro-BoldItalic.woff2') format('woff2'),
      url('font/ApercuPro-BoldItalic.woff') format('woff'),
      url('font/ApercuPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('font/ApercuPro-Thin.eot');
  src: local('font/Apercu Pro Thin'), local('ApercuPro-Thin'),
      url('font/ApercuPro-Thin.eot?#iefix') format('embedded-opentype'),
      url('font/ApercuPro-Thin.woff2') format('woff2'),
      url('font/ApercuPro-Thin.woff') format('woff'),
      url('font/ApercuPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('font/ApercuPro-ThinItalic.eot');
  src: local('font/Apercu Pro Thin Italic'), local('ApercuPro-ThinItalic'),
      url('font/ApercuPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('font/ApercuPro-ThinItalic.woff2') format('woff2'),
      url('font/ApercuPro-ThinItalic.woff') format('woff'),
      url('font/ApercuPro-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('font/ApercuPro-Regular.eot');
  src: local('font/Apercu Pro Regular'), local('ApercuPro-Regular'),
      url('font/ApercuPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('font/ApercuPro-Regular.woff2') format('woff2'),
      url('font/ApercuPro-Regular.woff') format('woff'),
      url('font/ApercuPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('font/ApercuPro-Italic.eot');
  src: local('font/Apercu Pro Italic'), local('ApercuPro-Italic'),
      url('font/ApercuPro-Italic.eot?#iefix') format('embedded-opentype'),
      url('font/ApercuPro-Italic.woff2') format('woff2'),
      url('font/ApercuPro-Italic.woff') format('woff'),
      url('font/ApercuPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('font/ApercuPro-ExtraLightItalic.eot');
  src: local('font/Apercu Pro ExtraLight Italic'), local('ApercuPro-ExtraLightItalic'),
      url('fontApercuPro-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
      url('font/ApercuPro-ExtraLightItalic.woff2') format('woff2'),
      url('font/ApercuPro-ExtraLightItalic.woff') format('woff'),
      url('font/ApercuPro-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('fonts/ApercuPro-Light.eot');
  src: local('fonts/Apercu Pro Light'), local('ApercuPro-Light'),
      url('fonts/ApercuPro-Light.eot?#iefix') format('embedded-opentype'),
      url('fonts/ApercuPro-Light.woff2') format('woff2'),
      url('fonts/ApercuPro-Light.woff') format('woff'),
      url('fonts/ApercuPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('fonts/ApercuPro-LightItalic.eot');
  src: local('font/Apercu Pro Light Italic'), local('ApercuPro-LightItalic'),
      url('font/ApercuPro-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('font/ApercuPro-LightItalic.woff2') format('woff2'),
      url('font/ApercuPro-LightItalic.woff') format('woff'),
      url('font/ApercuPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('fonts/ApercuPro-BlackItalic.eot');
  src: local('font/Apercu Pro Black Italic'), local('ApercuPro-BlackItalic'),
      url('font/ApercuPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('font/ApercuPro-BlackItalic.woff2') format('woff2'),
      url('font/ApercuPro-BlackItalic.woff') format('woff'),
      url('font/ApercuPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}


